JWT_SECRET            = '<%- jwt_secret %>'
JWT_EXPIRY_HOURS      = '720'
SERVER_PORT           = '8888'
LOG_LEVEL             = 'debug'
LOG_TO_FILES          = false

URLS_PROTOCOL         = 'http'
URLS_URL              = 'localhost'
URLS_PORT             = '8888'
URLS_API_ROOT        = '/api/v1'

# DB_TYPE can be 'sqlite', 'mysql' or 'postgres'
DB_TYPE               = '<%- dbtype %>'
# Only for sqlite:
DB_STORAGE            = 'db.sqlite'
# Only for mysql and postgres:
DB_HOST               = 'localhost'
DB_NAME               = '<%- dbname %>'
DB_USER               = 'root'
DB_PASSWORD           = ''

# Email server configuration for EmailService
EMAIL_FROM_ADDRESS = 'MyApp <no-reply@example.com>'
EMAIL_SMTP_HOST = "smtp.gmail.com"
EMAIL_SMPT_PORT = 587
EMAIL_SMTP_SECURE = true
EMAIL_SMTP_USER = "(your SMTP user)"
EMAIL_SMTP_PASS = "(your SMTP password)"

# Microsoft configuration for MicrosoftLoginService
MICROSOFT_CLIENT_ID="(your MSFT clientId)"
MICROSOFT_TENANT_ID="(your MSFT tenantId)"
MICROSOFT_CLIENT_SECRET="(your MSFT client secret)"
MICROSOFT_CALLBACK_URL="(your MSFT callback url)"
MICROSOFT_REGISTER_CALLBACK_URL="(your MSFT callback url for registering new users)"

# Google configuration for SSO
GOOGLE_CLIENT_ID="(your GOOGLE clientId)"
GOOGLE_CLIENT_SECRET="(your GOOGLE client secret)"
GOOGLE_CALLBACK_URL="(your GOOGLE callback url)"
GOOGLE_REGISTER_CALLBACK_URL="(your GOOGLE callback url for registering new users)"