# <%- name %>

<%- name %> Server, based on Flugzeug.

## Development

Read the documentation at ``docs/Framework.md``

```
npm run watch
```

## Prepare for production

```
npm run build
```

## Run in production 

```
npm start
```

or

```
node dist/main.js
```

## Seed database (see app/seed.ts)

```
npm run seed
```

## Print database creation SQL (Useful when writing migrations)

```
npm run sql
```